@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root{
    --primary-color: #323238;
    --button-bckg: #E1E1E6;
    --button-active: #02799D;
    --backg-color: #FFF;

    font-size: 62.5%;
}

html.light{
    --primary-color: #FFF;
    --backg-color: #1c1c1d;
}

body{
    color: var(--primary-color);

    display: grid;
    height: 100vh;
    place-content: center;
    background: var(--backg-color);

}

#app{
    display: flex;
    gap: 13rem;
    flex-direction: column;
}

.timer{
    font-size: 9rem;
    font-weight: bold;
    font-family: 'Roboto';

    margin-bottom: 4rem;
}

#controls{
    display: flex;
    gap: 4rem;
}

#controls button{
    background: none;
    border: none;
    color: var(--primary-color);

    font-size: 4rem;

    cursor: pointer;
    transition: transform .4s;
    
}

#controls button:hover{
    transform: scale(1.3);
    
}

.right-side{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.right-side button{
    padding: 2.4rem;

    font-size: 4rem;

    border: none;
    border-radius: 9999px;

    background-color: var(--button-bckg);

    cursor: pointer;
    transition: background .3s;
    transition: transform .4s
}

.right-side button:hover{
    background: rgb(0, 141, 192);
    color: #FFF;
    transform: scale(1.15);
}



.right-side button.selected{
    background-color: rgb(64, 228, 132);
}


@media (min-width: 768px){ /* media querie */
    #app{
        flex-direction: row;
    }
}